@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* colours */
/* Edits */
/* Text */
/* Resets */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

* {
  scroll-behavior: smooth;
}

html {
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0;
  /* For Chrome, Safari, and Opera */
}

body {
  background-color: #121212;
  color: #d8d8d8;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

a:visited,
a:link {
  text-decoration: none;
  color: #ddd;
}

/* Utility Classes */
.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.portfolio {
  background-color: #121212;
  background-image: radial-gradient(at 0% 100%, #292929 0, transparent 50%), radial-gradient(at 50% 45%, #1b1b32 0, transparent 25%), radial-gradient(at 50% 55%, #1b1b32 0, transparent 60%);
}

#skills {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30rem;
}

#skills h2 {
  color: #ffa0c7;
  letter-spacing: 5px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
}

#skills p {
  font-size: 1rem;
}

#skills-text-container {
  padding: 0 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

#skills-text-container p {
  text-align: center;
  padding: 0 1rem;
}

#drop-container {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#drop-container div {
  position: absolute;
  display: block;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-shadow: -2px 0 #9b6060;
  font-weight: 500;
  letter-spacing: 2px;
}

#drop-container div:nth-child(1) {
  -webkit-animation: fall 15s linear infinite;
          animation: fall 15s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

#drop-container div:nth-child(2) {
  left: 10%;
  -webkit-animation: fall 15s linear infinite;
          animation: fall 15s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

#drop-container div:nth-child(3) {
  left: 70%;
  -webkit-animation: fall 12s linear infinite;
          animation: fall 12s linear infinite;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
}

#drop-container div:nth-child(4) {
  left: 30%;
  -webkit-animation: fall 18s linear infinite;
          animation: fall 18s linear infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

#drop-container div:nth-child(5) {
  left: 40%;
  -webkit-animation: fall 14s linear infinite;
          animation: fall 14s linear infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

#drop-container div:nth-child(6) {
  left: 50%;
  -webkit-animation: fall 16s linear infinite;
          animation: fall 16s linear infinite;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

#drop-container div:nth-child(7) {
  left: 60%;
  -webkit-animation: fall 10s linear infinite;
          animation: fall 10s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

#drop-container div:nth-child(8) {
  left: 70%;
  -webkit-animation: fall 12s linear infinite;
          animation: fall 12s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

#drop-container div:nth-child(9) {
  left: 80%;
  -webkit-animation: fall 14s linear infinite;
          animation: fall 14s linear infinite;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
}

#drop-container div:nth-child(10) {
  left: 20%;
  -webkit-animation: fall 20s linear infinite;
          animation: fall 20s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes fall {
  0% {
    top: -10%;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

@keyframes fall {
  0% {
    top: -10%;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

@media only screen and (max-width: 800px) {
  #skills {
    width: 80%;
  }
  #skills-text-container {
    padding: 0;
  }
}

@media only screen and (max-width: 600px) {
  #skills {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 40rem;
  }
  #skills-text-container {
    margin-bottom: -2rem;
  }
  #drop-container div {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=skills.css.map */