@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* colours */
/* Edits */
/* Text */
/* Resets */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

* {
  scroll-behavior: smooth;
}

html {
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0;
  /* For Chrome, Safari, and Opera */
}

body {
  background-color: #121212;
  color: #d8d8d8;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

a:visited,
a:link {
  text-decoration: none;
  color: #ddd;
}

/* Utility Classes */
.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.portfolio {
  background-color: #121212;
  background-image: radial-gradient(at 0% 100%, #292929 0, transparent 50%), radial-gradient(at 50% 45%, #1b1b32 0, transparent 25%), radial-gradient(at 50% 55%, #1b1b32 0, transparent 60%);
}

#intro {
  height: calc(100vh - 3rem);
  padding: 6%;
  text-transform: uppercase;
  position: relative;
}

#intro .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 2rem;
}

#intro .text h1 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 2px;
}

#intro .text h2 {
  font-size: 0.8rem;
  line-height: 1.75;
  letter-spacing: 1px;
}

#typed {
  letter-spacing: 2px;
  font-weight: 400;
  color: #72d865;
}

.scroll {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  left: 0;
  bottom: 0.5rem;
  font-size: 0.75rem;
}

.scroll:hover {
  text-decoration: underline;
}

.scroll p {
  -webkit-animation: upanddown 1.5s infinite;
          animation: upanddown 1.5s infinite;
  position: relative;
}

@-webkit-keyframes upanddown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes upanddown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

h1 span,
h2 span {
  -webkit-transition: color 1.5s;
  transition: color 1.5s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  letter-spacing: -0.2vw;
}

h1 span:hover,
h2 span:hover {
  -webkit-transition: color 0s;
  transition: color 0s;
}

.a:hover,
.b:hover,
.c:hover,
.d:hover,
.e:hover {
  cursor: pointer;
}

.a:hover {
  color: #884184;
}

.b:hover {
  color: gold;
}

.c:hover {
  color: #72afb1;
}

.d:hover {
  color: #ffa0c7;
}

.e:hover {
  color: #72d865;
}

.f:hover {
  color: #1b1b32;
}

@media only screen and (max-width: 650px) {
  #intro {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #intro .text {
    margin-top: -2.5rem;
  }
  #intro .text h1 {
    font-size: 3rem;
  }
  #arr-forward {
    display: none;
  }
  #arr-down {
    display: block;
  }
}
/*# sourceMappingURL=intro.css.map */