@import "../../index.scss";

footer {
  background-color: $primary-dark;
  font-weight: lighter;
  text-transform: uppercase;
  height: 75px;
  text-align: center;
  font-size: 12px;
  border-top: solid 1px $border;
  color: $primary-light;

  p {
    margin: 1rem 0;
    text-transform: capitalize;
  }

  .email {
    font-size: 11px;
    text-transform: none;
  }
}
