@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* colours */
/* Edits */
/* Text */
/* Resets */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

* {
  scroll-behavior: smooth;
}

html {
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0;
  /* For Chrome, Safari, and Opera */
}

body {
  background-color: #121212;
  color: #d8d8d8;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

a:visited,
a:link {
  text-decoration: none;
  color: #ddd;
}

/* Utility Classes */
.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.portfolio {
  background-color: #121212;
  background-image: radial-gradient(at 0% 100%, #292929 0, transparent 50%), radial-gradient(at 50% 45%, #1b1b32 0, transparent 25%), radial-gradient(at 50% 55%, #1b1b32 0, transparent 60%);
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 4rem 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#292929));
  background: linear-gradient(rgba(0, 0, 0, 0), #292929);
}

#contact #contact-title {
  color: #ffa0c7;
  letter-spacing: 5px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
}

#contact #contact-text {
  font-size: 14px;
}

#contact .input-container {
  width: 35%;
}

#contact .input-container .input {
  position: relative;
}

#contact .input-container .input::before {
  width: 100%;
  height: 0.25rem;
  background: -webkit-gradient(linear, left top, right top, from(#ffa0c7), to(#72d865));
  background: linear-gradient(to right, #ffa0c7, #72d865);
  position: absolute;
  bottom: .5rem;
  content: "";
}

#contact .input-container .input-field {
  width: 100%;
  height: 2.25rem;
  margin: 0.5rem 0;
  background: rgba(0, 0, 0, 0.25);
  border: none;
  padding: 0.5rem;
  color: lightgray;
  position: relative;
}

#contact .input-container .input-field:focus {
  outline: none;
  color: lightgray;
}

#contact .input-container #submit {
  width: 5rem;
  height: 2rem;
  margin: 0.25rem 0;
  background: lightgray;
  border: 2px solid transparent;
  -o-border-image: linear-gradient(to right, #ffa0c7, #72d865);
     border-image: -webkit-gradient(linear, left top, right top, from(#ffa0c7), to(#72d865));
     border-image: linear-gradient(to right, #ffa0c7, #72d865);
  border-image-slice: 1;
  cursor: pointer;
}

.input-label {
  color: #ffa0c7;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 0.75rem;
}

#socials li {
  display: inline-block;
  cursor: pointer;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 1rem;
}

#socials li:hover {
  text-decoration: underline;
  opacity: 0.5;
}

textarea {
  resize: vertical;
  font-family: inherit;
}

@media only screen and (max-width: 800px) {
  #contact .input-container {
    width: 70%;
  }
}

@media only screen and (max-width: 550px) {
  #contact #contact-text {
    text-align: center;
  }
  #contact .input-container {
    width: 90%;
  }
}
/*# sourceMappingURL=contact-me.css.map */