@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* colours */
/* Edits */
/* Text */
/* Resets */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

* {
  scroll-behavior: smooth;
}

html {
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0;
  /* For Chrome, Safari, and Opera */
}

body {
  background-color: #121212;
  color: #d8d8d8;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

a:visited,
a:link {
  text-decoration: none;
  color: #ddd;
}

/* Utility Classes */
.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.portfolio {
  background-color: #121212;
  background-image: radial-gradient(at 0% 100%, #292929 0, transparent 50%), radial-gradient(at 50% 45%, #1b1b32 0, transparent 25%), radial-gradient(at 50% 55%, #1b1b32 0, transparent 60%);
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 3rem);
}

.about-image {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[16];
  -ms-grid-columns: (1fr)[16];
      grid-template: repeat(16, 1fr)/repeat(16, 1fr);
}

.about-image #overlayImage {
  z-index: 1;
  max-width: 70%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 16;
  -ms-grid-column: 5;
  -ms-grid-column-span: 12;
  grid-area: 1 / 5 / 17 / 17;
  -webkit-box-shadow: -5px 5px 10px #5a5a5a;
          box-shadow: -5px 5px 10px #5a5a5a;
}

.about-image #underlayImage {
  max-width: 65%;
  opacity: 0.4;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -ms-grid-row: 2;
  -ms-grid-row-span: 15;
  -ms-grid-column: 4;
  -ms-grid-column-span: 13;
  grid-area: 2 / 4 / 17 / 17;
  -webkit-box-shadow: -5px 5px 10px grey;
          box-shadow: -5px 5px 10px grey;
}

.about-text {
  text-align: center;
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.about-text h2 {
  color: #ffa0c7;
  letter-spacing: 5px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
}

.about-text p {
  margin: 6% auto 4%;
  max-width: 70%;
  color: lightgray;
  font-size: 14px;
}

.about-text button {
  height: 40px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  width: 8rem;
  color: #fff;
  background-color: #ffa0c7;
}

@media only screen and (max-width: 800px) {
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: auto;
  }
  .about-text {
    margin-top: 3rem;
  }
  .about-image {
    display: inline-block;
  }
  #underlayImage {
    display: none;
  }
  #overlayImage {
    border-radius: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 2rem auto;
    width: 30%;
    display: block;
  }
}
/*# sourceMappingURL=about-me.css.map */